body{
    font-family: 'EB Garamond', serif;

}

#result {
    position: absolute;
    width: 100%;
    max-width:870px;
    cursor: pointer;
    overflow-y: auto;
    max-height: 400px;
    box-sizing: border-box;
    z-index: 1001;
   }
   .link-class:hover{
    background-color:#f1f1f1;
   }